.main{
    width: 1330px;
    /* height: 640px; */
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.main1{
    width: 300px;
    height: 100px;
    background-color: white;
    display: flex;

}

#income{
    text-align: center;
    width: 150px;
    border-right: 1px solid rgba(0, 0, 0, .4);
    
}

#expense{
    text-align: center;
    width: 150px;
    
}

.green{
    color: green;
}
.red{
    color: hotpink;
}

#article2{
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: white;
 height: 30px;
 width: 300px;   
}
/* .pizza{
    display: flex;
    flex-direction: column;
 align-items: center;
 justify-content: space-between;
 width: 300px;

} */

#input{
    width: 300px;
    height: 30px;
}
.bold{
    font-size: 20px;
    
}
#input{
    margin: 10px 0px 10px 0px;
}
.para{
    font-size: 18px;
}
#input1{
    width: 300px;
    height: 30px;
}
#btn{
    width: 320px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}